---
import { Icon } from 'astro-icon/components';

interface Props {
	icon: string;
	title: string;
	value: string;
}

const { icon, title, value } = Astro.props;
---

<div class="flex gap-6 items-start">
	<div class="w-14 h-14 text-turquoise flex-shrink-0">
		<Icon name={icon} class="w-full h-full" />
	</div>
	<div>
		<h4 class="text-dark mb-2 text-lg">{title}</h4>
		<p class="text-gray-custom">{value}</p>
	</div>
</div>
